<div class="container-fluid">
  <div class="box">
    <div class="row">
      <div class="col-lg-3 mt-5">
        <div class="card bg-primary">
          <h1>1</h1>
          <h3>Student</h3>
          <p>Computer Science</p>
        </div>
      </div>

      <div class="col-lg-3 mt-5">
        <div class="card bg-success">
          <h1>2</h1>
          <h3>Teacher</h3>
          <p>Computer Science</p>
        </div>
      </div>

      <div class="col-lg-3 mt-5">
        <div class="card bg-info">
          <h1>3</h1>
          <h3>Parent</h3>
          <p>Computer Science</p>
        </div>
      </div>

      <div class="col-lg-3 mt-5">
        <div class="card bg-danger">
          <h1>4</h1>
          <h3>Library</h3>
          <p>Computer Science</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 mt-5">
        <div class="card bg-success">
          <h1>5</h1>
          <h3>Student</h3>
          <p>Computer Science</p>
        </div>
      </div>

      <div class="col-lg-3 mt-5">
        <div class="card bg-primary">
          <h1>6</h1>
          <h3>Teacher</h3>
          <p>Computer Science</p>
        </div>
      </div>

      <div class="col-lg-3 mt-5">
        <div class="card bg-danger">
          <h1>7</h1>
          <h3>Parent</h3>
          <p>Computer Science</p>
        </div>
      </div>

      <div class="col-lg-3 mt-5">
        <div class="card bg-info">
          <h1>8</h1>
          <h3>Library</h3>
          <p>Computer Science</p>
          <a><i class="fa-brands fa-facebook"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-lg-4">
          <div class="box2">
            <div class="card1">
              <img
                src="https://www.w3schools.com/howto/img_avatar.png"
                alt="pic1"
                height="127px"
                width="200px"
              />
              <h4>Software Developer</h4>
              <p>This devloper belongs to It Company</p>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
